body{
    background: #663399;  /*Fondo */
    background: -webkit-linear-gradient(to right, #02404f, #3a0371);  /*Degradado*/
    background: linear-gradient(to right, #02404f, #3a0371); /*Degradado*/
  }

  .titulo{
    text-align: center;
    font-family: Raleway, sans-serif;
  }

